body {
  margin: 0;
  font-family: 'Bad Script', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Cookie', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Grand Hotel', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Neucha', cursive;
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
